<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IsRegister Form</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="formWrapper">
        <% if (messages.info) { %>
        <p class="success-message"><%- messages.info %></p>
        <% } %>
        <form class="commonForm" action="" method="POST">
            <h1 class="headline">Checking an ID already exist or not</h1>
            <label for="ID">ID:</label>
            <input type="text" name="txtID" id="txtID" value="">
            <input type="submit" name="submit" value="IsRegister">
            <a href="/" class="btnb">Back</a>
        </form>
    </div>
</body>
</html>