<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/CloudABIS-ScanR.js"></script>
    <script src="/assets/js/CloudABIS-Helper.js"></script>
</head>
<body>
    <div class="formWrapper">
        <% if (messages.info) { %>
        <p class="success-message"><%- messages.info %></p>
        <% } %>
        <form class="commonForm" action="" method="POST">
            <h1 class="headline">Registration</h1>
            <div class="mt-10">
                <label>Capture Type:</label>
                <select name="captureType" id="captureType">
                    <option value="SingleCapture">Single Capture</option>
                    <option value="DoubleCapture">Double Capture</option>
                </select>
            </div>
            <div>
                <label for="registrationID">Registration ID</label>
                <input type="text" name="registrationID" id="registrationID" value="">
            </div>
            <div>
                <label id="lblCurrentDeviceName">Current Device Name:</label>
                <input type="button" name="biometricCapture" value="Biometric Capture" onclick="captureBiometric()">
                <input type="submit" name="register" value="Register">
            </div>
            <div><a href="/" class="btnb">Back</a></div>
            <input type="hidden" name="templateXML" id="templateXML" value="">
        </form>
        <label id="serverResult"></label>
    </div>
</body>
</html>